.nav {
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_a {
  color: white;
  text-decoration: none;
}

.main {
  padding: 80px;
}
