.search {
  position: fixed;
  width: 88%;
  padding: 20px;
  background-color: lightblue;
  top: 83px;
  border: 2px;
}

.data {
  margin-top: 128px;
}

.select {
  background-color: transparent;
  padding: 5px;
  margin: 0;
  font-size: inherit;
  cursor: inherit;
}
