.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.item {
  border: 2px solid rgb(200, 200, 200);
  padding: 10px;
  text-align: center;
}
