.control {
  position: fixed;
  width: 87.8%;
  padding: 20px;
  background-color: lightblue;
  top: 83px;
  border: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.input {
  background-color: transparent;
  padding: 5px;
  font-size: inherit;
  cursor: inherit;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 2px;
}

.data {
  margin-top: 280px;
}

.select {
  background-color: transparent;
  padding: 5px;
  margin: 0;
  font-size: inherit;
  cursor: inherit;
  margin: 2px;
}

.sortButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin: 4px;
}

.sortButtonSelect {
  background-color: #008cba;
  color: aliceblue;
}
